body {
   margin-left: 2em;
   margin-right: 2em;
   min-height: 100vh;
}
.intro-column {
   text-align: justify;
   margin-left: 1em;
   margin-right: 1em;
}

.abacus {
   margin-top: 1em;
   padding-top: 1em;
   font-size: 0.9em;
}
#compass {
   padding-left: 20%;
}

#locus .phase {
   text-align: center;
}
.phase h5 {
   font-weight: bold;
}
#focus {
   text-align: justify;
   padding-top: 2em;
}
