body {
    margin-left: 2em;
    margin-right: 2em;
}
.flex-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    align-content: space-around;
    -webkit-box-align: baseline;
            align-items: baseline;
}
.intro-column {
    -webkit-box-flex: 1;
            flex: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
}
@media screen and (max-width: 767px) {
  .flex-container,
  #intro {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
  }
}
