<div id="introduction container-fluid">
  <div id="title" class="row text-center">
    <h1>{{ site.title }}</h1>
    <p class="lead">
      Welcome to the <a target="_blank" href="{{ site.organization.url }}">
        {{ site.organization.name }}’s
      </a> map of state judicial selection practices, part of the
      <a target="_blank" href="{{ site.organization.url }}/issues/fair-courts">
        Fair Courts Project’s
      </a> investigation into <a target="_blank" href="{{ site.organization.url }}/rethinking-judicial-selection">
        Rethinking Judicial Selection
      </a>.
    </p>
  </div><!--.row-->
  <div id="intro" class="row">
    {% for intro in site.introduction %}
    <div class="intro col-md-4 col-xs-12">
      {{ intro.content }}
    </div><!--.intro-->
    {% endfor %}
  </div><!--#intro.row-->
  <hr/>
</div><!--/#introduction-->
