.click-target {
    fill-opacity: 0;
    pointer-events: all;
}
.state {
    transition: opacity 0.5s ease;
    cursor: pointer;
}
.overlay {
    transition: opacity 0.5s ease;
    pointer-events: none;
}
.state > path {
    transition:
        fill 0.5s ease,
        stroke 0.5s ease,
        stroke-width 0.5s ease;
    stroke: azure;
    stroke-width: 2px;
}
.clicked > path {
    stroke: black;
}
.state-icon {
    opacity: 0.2;
}
.soften {
    opacity: 0.2;
}
.soften > path {
  fill: darkgrey;
}
.soften .overlay {
  opacity: 0;
}
.legend-row {
    list-style-type: none;
    transition:
        all 0.5s ease-in-out,
        opacity 0.3s ease-in-out;
}
.legend-item {
    transition: all 500ms linear;
}
.legend-bar-container {
    cursor: pointer;
    padding-left: 0;
    padding-right: 0.5em;
}
.legend-label-container {
    overflow: visible;
    padding-left: 0;
    padding-right: 0;
}
.legend-bar {
    border: 1px solid white;
    height: 100%;
    float: right;

    transition: width 0.5s ease-in-out;
}
.kids {
    padding: 0;
}
.legend-label--text {
    cursor: pointer;
}
#abacus text {
    font-size: 90%;
}
.branch--closed span:before {
    font-family: FontAwesome;
    content: "\f196"; /* fa-square-plus-o */
}
.branch--opened span:before {
    font-family: FontAwesome;
    content: "\f147"; /* fa-square-minus-o */
}
.branch--leaf span:before {
    font-family: FontAwesome;
    content: "\f096"; /* fa-square-o */
    visibility: hidden;
}
.legend-row--new {
    max-height: 0;
    opacity: 0;
    animation:
      openSpace 0.5s ease forwards,
      fadeIn 0.3s 0.2s ease forwards;
}
@keyframes openSpace {
    to {
        max-height: 120px;
    }
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.legend-row--remove {
    max-height: 120px;
    animation:
      closeSpace 0.5s ease forwards;
}
@keyframes closeSpace {
    to {
        max-height: 0;
    }
}
path.domain, .tick line {
    stroke: none;
    fill: none;
}
#viztitle {
    text-align: center;
}
#locus li {
    transition: background-color 0.5s ease,
        color 0.5s ease,
        opacity 0.5s linear;

    opacity: 0.25;
    margin: 0 -1em;
}
#locus li.hilite {
    color: azure;
    opacity: 1;
}
footer {
    margin-top: 5em;
}
