<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author.name }}">

    <title>{{ site.title }}</title>

    <link rel="shortcut icon" href="{{ site.organization.favicon }}"
        type="image/vnd.microsoft.icon"/>

    {% include shims.html %}
    <style>
      {% include critical_styles.css %}
    </style>
  </head>

  <body id="page-top" class="index">
    <article>
      <div class="page-header text-center">
        <img src="{{ site.organization.logo }}"
          alt="Brennan Center for Justice at NYU"
          class="img-responsive center-block"
        >
      </div><!--.page-header-->

      <!-- Introduction -->
      {% include introduction.html %}

      <div class="container-fluid">
        <div id="corpus" class="row askus">
          <div class="reset-button col-md-4 col-xs-12">
            <button type="button" class="btn btn-default btn-default">Reset Map</button>
          </div><!--.not-btn-group-->
          <div class="btn-group col-md-4 col-xs-12" id="chooser-Court" role="group" data-toggle="buttons">
            <label class="btn btn-default btn-default">
              <input type="radio" value="Supreme">
              <select>
                <optgroup label="Select a Court Level"></optgroup>
              </select>
            </label>
          </div><!--.btn-group#chooser-Court-->
          <div class="btn-group col-md-4 col-xs-12" id="chooser-Phase" role="group" data-toggle="buttons">
            <label class="choice-all btn btn-default btn-default">
              <input type="radio" value="all">Overview
            </label>
            <label class="choice-pick btn btn-default btn-default">
              <input type="radio" value="">
                <select>
                  <optgroup label="Select a Phase"></optgroup>
                </select>
            </label>
          </div><!--.btn-group#chooser-Phase-->
        </div><!--.row#corpus-->
        <div id="viz" class="row">
          <div id="atlas" class="col-md-6 col-xs-12"><svg></svg></div>
          <div id="abacus" class="col-md-6 col-xs-12"><ul class="abacus legend"></ul></div>
          <div id="compass" class="col-md-12 col-xs-12">
            <div class="btn-group col-md-4 col-xs-12" id="chooser-State" role="group" data-toggle="buttons">
              <label class="choice-all btn btn-default">
                <input type="radio" value="all">None
              </label>
              <label class="choice-pick btn btn-default">
                <input type="radio" value="">
                  <select>
                    <optgroup label="Select a State"></optgroup>
                  </select>
              </label>
            </div><!--.btn-group#chooser-State-->
          </div><!--/#compass.clickus-->
        </div><!--.row#viz-->
        <div id="oculus" class="row">
          <div id="focus" class="col-md-4 col-xs-12"></div>
          <div id="locus" class="col-md-8 col-xs-12"></div>
        </div><!--/#oculus-->
      </div><!--/#viz-->
    </article>
    <div id="tooltip" z-index="99"></div>
    <footer>
      <hr>
      <p class="qqtext-muted text-center small">
        <small>
            Made by <a target="_blank" href="{{ site.author.url }}">
              {{ site.author.name }}
            </a> for the <a target="_blank" href="{{ site.organization.url }}">
              {{ site.organization.name }}
            </a>.
        </small>
      </p>
    </footer>
    <script defer>
        var cb = function() {
            var l = document.createElement('link');
            l.rel = 'stylesheet';
            l.href = 'css/style.css';
            var h = document.getElementsByTagName('head')[0];
            h.parentNode.insertBefore(l, h);
          }
        ;
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(cb);
        else window.addEventListener('load', cb);
    </script>

    <!-- Auxiliary files needed for this viz -->
    <script defer src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" charset="utf-8"></script>
    <script defer src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" charset="utf-8"></script>
    <script defer src="js/vendors.js" charset="utf-8"></script>
    <script defer src="js/cats.min.js" charset="utf-8"></script>
  </body>
</html>
