<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Judicial Selection processes for all 50 states and DC. Covers all three state court levels: State Supreme Court, Intermediate Appellate Courts and Trial Courts.">
    <meta name="author" content="Seemant Kulleen">

    <title>Judicial Selections - Brennan Center for Justice</title>
  <!-- Favicon -->
    <link rel="shortcut icon" href="http://www.brennancenter.org/sites/all/themes/bcj-zen/favicon.ico" type="image/vnd.microsoft.icon" />

  <!-- Minimal Bootstrap -->
    <link href="css/vendors.css" rel="stylesheet" type="text/css">

  <!-- Visualization stylesheet -->
    <link href="css/style.css" rel="stylesheet">

  <!-- shims -->
    <!--HTML5 shim, for IE6-8 support of HTML5 elements-->
    <!--[if lt IE 9]>
    <script async src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script async src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="page-top" class="index">
    <article>
      <div class="page-header text-center">
        <img src="http://www.brennancenter.org/sites/all/themes/bcj2-zen/images/bcj_logo.png"
          alt="Brennan Center for Justice at NYU"
          class="img-responsive center-block"
        >
      </div><!--.page-header-->

      <!-- Introduction -->
      {% include introduction.html %}

      <!-- The Visualization -->
      <div id="viz" class="flex-container">
        <div id="corpus" class="viz askus flex-container">
          <button type="button" id="reset-all" class="btn btn-default btn-default">Reset Map</button>
          <div class="btn-group" id="chooser-Court" role="group" data-toggle="buttons">
            <label class="btn btn-default btn-default">
              <input type="radio" value="Supreme">
              <select>
                <optgroup label="Select a Court Level"></optgroup>
              </select>
            </label>
          </div><!--.btn-group#chooser-Court-->
          <div class="btn-group" id="chooser-Phase" role="group" data-toggle="buttons">
            <label class="choice-all btn btn-default btn-default">
              <input type="radio" value="all">Overview
            </label>
            <label class="choice-pick btn btn-default btn-default">
              <input type="radio" value="">
                <select>
                  <optgroup label="Select a Phase"></optgroup>
                </select>
            </label>
          </div><!--.btn-group#chooser-Phase-->
        </div><!--/#corpus-->
        <div id="atlas" class="viz--half"><svg></svg></div>
        <div id="abacus" class="viz--half"><ul class="abacus legend"></ul></div>
        <div id="compass" class="viz askus flex-container">
          <div class="btn-group" id="chooser-State" role="group" data-toggle="buttons">
            <label class="choice-all btn btn-default">
              <input type="radio" value="all">None
            </label>
            <label class="choice-pick btn btn-default">
              <input type="radio" value="">
                <select>
                  <optgroup label="Select a State"></optgroup>
                </select>
            </label>
          </div><!--.btn-group#chooser-State-->
        </div><!--/#compass.clickus-->
        <div id="oculus" class="viz flex-container">
          <div id="locus" class="flex-container"></div>
          <div id="focus"></div>
        </div><!--/#oculus-->
      </div><!--/#viz-->
    </article>
    <div id="tooltip" z-index="99"></div>
    <footer>
      <hr>
      <p class="qqtext-muted text-center small">
        <small>
            Made by <a target="_blank" href="{{ site.author.url }}">
              {{ site.author.name }}
            </a> for the <a target="_blank" href="{{ site.organization.url }}">
              {{ site.organization.name }}
            </a>.
        </small>
      </p>
    </footer>


    <!-- Auxiliary files needed for this viz -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" charset="utf-8"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" charset="utf-8"></script>

    <script src="js/vendors.js" charset="utf-8"></script>
    <script src="js/cats.min.js" charset="utf-8"></script>
  </body>
</html>
